html,body{margin:0;padding:0}
body{font:100% helvetica,arial,sans-serif;text-align:center;background:#F0F0F0;color:#000000}
p{margin:0 10px 10px}
a{text-decoration:none; color:#911c22;}

div#container{text-align:left}
div#container{width:1000px;margin:0 auto}

div#header{background-color:#911c22;}
div#header h1{height:60px;line-height:60px;margin:0;padding-left:30px;color:#F0F0F0}
div#header p{margin:0;font-size:x-large;font-weight:bold;color:#F0F0F0}
div#header{text-align:center;color:#F0F0F0}

div#wrapper{width:1000px}

div#navigation{float:left;width:150px}
div#navigation{background:#666666;padding-left:15px;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#navigation a{color:#F0F0F0;}

div#content{background:#F0F0F0;float:right;width:825px}
div#content p{line-height:1.4}

div#extra{float:right;width:825px}
div#extra{background:#454545;}

div#footer{background:#333333;color:#F0F0F0}
div#footer p{font-size:75%;margin:0;padding:5px 10px}
div#footer{clear:both;width:100%}

blockquote{
    margin:0px 0px 5px 30px;
    padding:0px 0px 5px 30px;
    padding-left:10px;
    padding-top:0px;
    padding-right:15px;
    margin-top:0px;
}

ul{
    margin-top:2px;
    padding-top:2px;
}
